
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <h2>Crear tareas</h2>
                <form class="form-group">

                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="Ingrese nombre de la tarea" class="form-control" required />
                    <br />

                    <label for="descripcion">Descripción</label>
                    <input type="text" name="descripcion" placeholder="Ingrese descripción de la tarea" class="form-control" required />
                    <br />

                    <label for="importancia">Importancia</label>
                    <input type="text" name="importancia" placeholder="Ingrese Importancia de la tarea" class="form-control" required />
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Importancia</th>
                            <th>Completada</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of tService.tareasArray">
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.descripcion }}</td>
                            <td>{{ i.importancia }}</td>
                            <td>{{ i.completada }}</td>
                            <td>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>